.cards{
  padding:2%;
}

.card-content a{
  padding-right: 2%;
}

.tester{
  padding-left: 25%;
}

#class330{
  padding-left: 10%;
}

#class216{
  padding-left: 10%;

}

.card img{
  width:100%;

}


#class131{
  padding-left: 10%;

}

#class132{
  padding-left: 10%;

}
