.btn{
    margin-bottom: 5px;
    background-color: #c2a435;
}

.btn:hover, .btn-large:hover {
    background-color: #c2a435;
}

.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color: #c2a435;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    background: rgba(64,75,97, 0.9);
    opacity: .9;
}

/* rgba(64,75,97, 0.9) */

.blue-grey.darken-1 {
    background-color: rgba(64,75,97, 0.9) !important;
}

#course_list .card {
    border-bottom: 10px solid rgba(64,75,97, 0.9);
}

.card h4 {
    border-bottom: 3px solid rgb(194, 164, 55);
}

.btn{
    border-radius: 0px;
}
/* 
.card .card-action:last-child {
    background-color: rgb(194, 164, 55);
} */

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: rgb(194, 164, 55);
}

.card-content.experience{
    border-bottom: 5px solid rgba(64,75,97, 0.9);
}
.card-content.jobs {
    border-bottom: 5px solid rgb(194, 164, 55);
}