body{
    font-family: "Poppins", Arial, sans-serif;
    color: grey;
    /* font-size: 2rem; */
}

.image_center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    max-width: 30%;
}

#link-buttons{
    margin-top: 1.5rem !important;
}

#desc {
    margin: 10%;
}
/* 
p{
    font-size: 1.5rem;
} */

.card-img{
    margin-top: 2%;
}

.row{
    display: block;
}

img.mr-3 {
    width: 15%;
}

h5 {
    font-size: 2rem;
}

h5.card-title{
    font-size: 1rem;
}

.media{
    line-height: 1.5;
    margin-top: 1.5rem !important;
}

#other{
    margin-right: 20%;
    margin-left: 20%;
}

button{
    line-height: 1.5;
    margin-bottom: 1.5rem !important;
}

.card{
    line-height: 1.5;
    margin-bottom: 1.5rem !important;
}

.language-barrier{
    display: block
}

.class-project{
    margin-bottom: 2rem !important;
}

h1{
    line-height: 1.5;
    margin-bottom: 1.5rem !important;
    color: black;
}

.links{
    line-height: 1.5;
    margin-right: 1.5rem !important;
}

.card-spacing{
    line-height: 1.5;
    margin-top: 1.5rem !important;
}

.element::-webkit-scrollbar { width: 0 !important }
