.jumbotron{
  background-image: url('../assets/img/hot_air_balloon.jpg') no-repeat !important;
  background-size: cover;
  height: 100%;
}

div p{
  color: grey;
}

h2{
  padding-left: 100px;
  color: black;
}
