.jumbotron{
  background-image: url("../assets/img/hot_air_balloon.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
}
.navbar{
   margin-bottom: 0;
}
div p{
  color: black;
}

h2{
  padding-left: 10px;
}
