.bottom{
  line-height: 10px;
}

#element1 {
  float:left;margin-right:10px;
}

#element2 {
  float:left;
}

.btn{
  border-radius: 0;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 10px;
}

.reduce{
  width:30%;
}

.banner h2{
  display: inline;
}

.green{
  background-color: #28B463;
  border-color: inherit;
}

.orange{
  background-color: #DC7633;
  border-color: inherit;
}

.red{
  background-color: #CB4335;
  border-color: inherit;
}

.blue{
  background-color: #2E86C1;
  border-color: inherit;
}

.darkblue{
  background-color: #273746;
  border-color: inherit;
}

.grey{
  background-color: #839192;
  border-color: inherit;
}
