.bottom{
  line-height: 10px;
}

#element1 {
  float:left;margin-right:10px;
}

#element2 {
  float:left;
}

.btn{
  border-radius: 0;
  margin-top: 10px;
  border-color: inherit;
  width: inherit;
}

.banner{
  width: 300px;
  float: left;
}

.btn-danger{
  width: 300px;
}

.tab{
  padding-left: 10px;
}
.shorten{
  float: left;
  padding-left: 100px;
}

.banner h2{
  display: inline;
}

.green{
  background-color: #28B463;
  border-color: inherit;
}

.orange{
  background-color: #DC7633;
  border-color: inherit;
}

.red{
  background-color: #CB4335;
  border-color: inherit;
}

.blue{
  background-color: #2E86C1;
  border-color: inherit;
}

.darkblue{
  background-color: #273746;
  border-color: inherit;
}

.grey{
  background-color: #839192;
  border-color: inherit;
}

#header{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
}
#content{
    position:absolute;
    width:100%;
    top:50px;
}
