.jumbotron {
  background-image: url("../assets/img/hot_air_balloon.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 30vh;

}

.navbar {
  margin-bottom: 0;
}
.btn{
  padding-left: 100px;
  padding-right: 100px;
}


div p {
  color: black;
}

body p {
  padding-left: 40px;
  text-align: center;
}

h2 {
  text-align: center;
}

h1{
  color: black;
}
