.jumbotron {
  background-image: url("../assets/img/milky_way.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
}

.navbar {
  margin-bottom: 0;
}

div p {
  color: black;
}

body p {
  padding-left: 40px;
  text-align: center;
}

h2 {
  text-align: center;
}

h1{
  color: white;
}

.jumbotron p{
  color: white;
}
