.jumbotron {
  background-size: cover;
  background-attachment: fixed;
  padding-top: 0;
}

.navbar {
  margin-bottom: 0;
}

.format{
  padding-left: 40px;
}

.concepts{
  color: grey;
  line-height: 0;
  font-size: 15px;
  padding-left: 0;
  padding-bottom: 10px;
}

p{
  padding-top: 2px;
  padding-left: 0;
  color: grey;
}
div p{
  padding-left: 0;
}

div{
  padding-left: 10px;
}

h3{
  padding-left: 30px;
}

h2{
  padding-left: 10px;
}
