.jumbotron {
  background-size: cover;
  background-attachment: fixed;
  padding-top: 0;
}

.navbar {
  margin-bottom: 0;
}
.code_color code{
  background-color: white;
  color:#c7254e;
}

.selection code{
  background-color:#d9edf7;
  color:#286090;
}

.languages code{
  color: #3c763d;
  background-color: #dff0d8;
}

.btn{
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 10px;
}

.bigger{
  font: 20px;
}

.format{
  padding-left: 40px;
}

/*.panel-default {
    border-color: #337ab7;
}*/

.same_line p{
  display: inline;
}

.banner h2{
  display: inline;
}

.concepts{
  color: grey;
  line-height: 0;
  font-size: 15px;
  padding-left: 0;
  padding-bottom: 10px;
}

.shorten{
  width: auto;
}

p{
  padding-top: 2px;
  padding-left: 0;
  color: grey;
  font-size: 15px;
}
div p{
  padding-left: 0;
}

div{
  padding-left: 0;
}

h3{
  padding-left: 0;
}

h2{
  padding-left: 10px;
}

.panel-success>.panel-heading{
  color: black;
}

.panel-info>.panel-heading{
  color: black;
}
.panel-danger>.panel-heading{
  color: black;
}

.panel-default>.panel-heading{
 background-color: #f5f5f5;
}
.color{
  color:black;
}
