.jumbotron {
  background-size: cover;
  background-attachment: fixed;
  padding-top: 0;
}

.navbar {
  margin-bottom: 0;
}

p{
  padding-top: 2px;
  padding-left: 30px;
  color: grey;
}
div p{
  padding-left: 0;
}

h3{
  padding-left: 30px;
}

h2{
  padding-left: 10px;
}

.projects{
  padding-left: 40px;
}
